$bbyBlue: #003b64;
$bbyLightBlue: #0c5da6;
$bbyLightYellow: #fceb00;
$bbyYellow: #fff200;
$black: #333333;
$errorRed: #ec443c;
$gray2Color: #fafafa;
$gray5Color: #f1f2f2;
$gray10Color: #e7e7e7;
$gray15Color: #d5d5d5;
$gray20Color: #cbcbcb;
$gray25Color: #c3c4c4;
$gray45Color: #9a9b9b;
$gray65Color: #737474;
$gray85Color: #49494a;
$grayFont: #585959;
$linkBlue: #0088cc;
$linkBlueHover: #053f68;
$mintBlue: #eff9fb;
$successGreen: #1baf9c;
$warningYellow: #f6c900;
$webGreen: #308c00;
$metaGreen: #5CEC17;
$white: #fff;
$currentGreen: #d2ffe6;
$currentGreenBorder: #419c4c;

$tooltipYellow: #ffffca;
$targetRed: rgb(204, 0, 0);
$targetRedText: rgb(219, 47, 27);
