.modal {
    display: none;
}

.modal_show-modal {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.67);
}

.modal__overlay-content {
    position: fixed;
    top: 15%;
    bottom: 15%;
    left: 20%;
    right: 20%;
    z-index: 10;
    background-color: white;
}

.modal__close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    cursor: pointer;
    &:before {
        content: '\2715';
    }
}